<section class="questions-feed">
  <h1>Q&A</h1>
  <a routerLink="/questions" class="post-btn">Add Your Question</a>

  @if (isLoading()) {
    <p>Loading...</p>
  }

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  @if (!isLoading() && questions().length === 0) {
    <h1>No questions yet...❓</h1>
  }

  @for (q of questions(); track q.id) {
    <div class="question-card">

      <h2>{{ q.title }}</h2>

      <p class="description">
        {{ q.description }}
      </p>

      @if (q.tags) {
        <div class="tags">
          @for (tag of q.tags.split(','); track tag) {
            <span>#{{ tag.trim() }}</span>
          }
        </div>
      }

      <div class="meta">
        <span>
          {{ q.createdAt?.seconds 
              ? (q.createdAt.seconds * 1000 | date:'short') 
              : (q.createdAt | date:'short') }}
        </span>
      </div>
      
      <div class="buttons">
      <a class="details-btn" (click)="onLike(q.id)">
      Like❤️ {{ q.likes || 0 }}
      </a>
      <a class="details-btn" [routerLink]="['/questions', q.id]">Comment 💬</a>
      <a class="details-btn" [routerLink]="['/questions', q.id]">
      Details 👀
      </a>
      <a class="details-btn" [routerLink]="['/questions', q.id, 'edit']">Edit  ✏️</a>
      <a class="details-btn" (click)="onDelete(q.id)">Delete 🗑️</a>
      </div>
    </div>
  }
</section>