<section class="questions-feed">
  <h1>Q&A</h1>
  <a routerLink="/questions" class="post-btn">Add Your Question</a>

  @if (isLoading()) {
    <p>Loading...</p>
  }

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  @if (!isLoading() && questions().length === 0) {
    <h1>No questions yet...❓</h1>
  }

  @for (q of questions(); track q.id) {
    <div class="question-card">
      <h2>{{ q.title }}</h2>

      <p class="description">
        {{ q.description }}
      </p>

      @if (q.tags) {
        <div class="tags">
          @for (tag of (q.tags || '').split(','); track tag) {
            @if (tag.trim()) {
              <span>#{{ tag.trim() }}</span>
            }
          }
        </div>
      }

      <div class="meta">
        <span>
          {{
            q.createdAt?.seconds
              ? (q.createdAt.seconds * 1000 | date: 'short')
              : (q.createdAt | date: 'short')
          }}
        </span>
      </div>

      <div class="buttons">
        <a (click)="onLike(q.id)" class="like-btn" style="cursor: pointer">
          @let userId = authService.currentUser()?.uid;

          <span [class.active]="userId && q.likes.includes(userId)">
            {{ userId && q.likes.includes(userId) ? '❤️' : '🤍' }}
          </span>

          {{ q.likes.length }}
        </a>

        <a class="details-btn" [routerLink]="['/questions', q.id]">Comment 💬</a>
        <a class="details-btn" [routerLink]="['/questions', q.id]">Details 👀</a>

        @if (userId === q.ownerId) {
          <a class="details-btn" [routerLink]="['/questions', q.id, 'edit']">Edit ✏️</a>
          <a class="details-btn delete" (click)="onDelete(q.id)" style="cursor: pointer"
            >Delete 🗑️</a
          >
        }
      </div>
    </div>
  }
</section>
