<div class="feed">
  <a routerLink="/create" class="post-btn">Post Your Car</a>

  @if (cars().length === 0) {
    <h1>No cars yet 🚗...</h1>
  }

  @for (car of cars(); track car.id) {
    <h1>Here see the cars</h1>
    <div class="car-card">
      <img [src]="car.image" alt="car image" class="car-img" />

      <h2>{{ car.brand }} {{ car.model }}</h2>
      <p>{{ car.year }}</p>

      <p>{{ car.description }}</p>

      <!-- <a [routerLink]="['/feed', car.id]" class="details-btn">
        View Details
      </a> -->
    </div>
  }
</div>
