<div class="feed">
  <a routerLink="/create" class="post-btn">Post Your Car</a>
  <h1>Here see the cars</h1>

  @if (cars().length === 0) {
    <h1>No cars yet 🚗...</h1>
  }

  @for (car of cars(); track car.id) {
    <div class="car-card">
      <img [src]="car.image" alt="car image" class="car-img" />

      <h2>{{ car.brand }} {{ car.model }}</h2>


      @if (car.tags) {
        <div class="tags-container">
          @for (tag of car.tags.split ? car.tags.split(',') : car.tags; track $index) {
            <span class="tag">#{{ tag.trim() }}</span>
          }
        </div>
      }

      <div class="meta">
        <span>
          {{
            car.createdAt?.seconds
              ? (car.createdAt.seconds * 1000 | date: 'short')
              : (car.createdAt | date: 'short')
          }}
        </span>
      </div>

      <div class="buttons">
        <a class="details-btn" (click)="onLike(car.id)">
        Like❤️ {{ car.likes || 0 }}
        </a>
        <a [routerLink]="['/cars', car.id]" class="details-btn">Comment 💬</a>
        <a [routerLink]="['/cars', car.id]" class="details-btn">
        Details 👀
        </a>
        @if (authService.currentUser()) {
        <a [routerLink]="['/cars', car.id, 'edit']">Edit ✏️</a>
        <a class="details-btn" (click)="onDelete(car.id)">Delete 🗑️</a>
        }
      </div>
    </div>
  }
</div>
