@if (car(); as c) {
  <div class="details-container">
    <div class="details-card">


      <div class="image-section">
        <img [src]="c.image" alt="car image" />
      </div>


      <div class="info-section">
        <h1>{{ c.brand }} {{ c.model }}</h1>

        <div class="meta">
          <span>Year: {{ c.year }}</span>

          <span>
            {{
              c.createdAt?.seconds
                ? (c.createdAt.seconds * 1000 | date: 'medium')
                : (c.createdAt | date: 'medium')
            }}
          </span>
        </div>

        <p class="description">
          {{ c.description }}
        </p>


        @if (c.tags) {
          <div class="tags">
            @for (tag of c.tags.split ? c.tags.split(',') : c.tags; track $index) {
              <span class="tag">#{{ tag.trim() }}</span>
            }
          </div>
        }


        <div class="actions">
          <button class="btn like">
            ❤️ Like {{ c.likes || 0 }}
          </button>

          <a class="btn back" routerLink="/feed">
            ⬅ Back
          </a>
        </div>

<div class="comments-section">

  <h2>Comments</h2>


        @if (authService.currentUser()) {
    <div class="add-comment">
      <textarea
        [(ngModel)]="commentText"
        placeholder="Write a comment..."
      ></textarea>

      <button (click)="addComment()" class="btn comment-btn">
        Post
      </button>
    </div>
  }


  @for (comment of comments(); track comment.id) {
    <div class="comment-box">
      <div class="comment-header">
        <span class="username">{{ comment.username }}</span>
        <span class="date">
          {{ comment.createdAt | date: 'short' }}
        </span>
      </div>

      <p class="comment-text">
        {{ comment.text }}
      </p>
    </div>
  }

</div>

      </div>
    </div>
  </div>
}