/* Section */
.create-car {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.form-container {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Title */
.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e3a8a;
}

/* Form group */
.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

/* Label */
.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #374151;
}

/* Inputs + textarea */
.form-group input,
.form-group textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
  resize: none;
}

/* Focus */
.form-group input:focus,
.form-group textarea:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

/* Button */
.btn-submit {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.btn-submit:hover {
  background: #1d4ed8;
}
.error-msg {
  color: #ff4d4d;
  font-size: 0.85rem;
  margin-top: 5px;
  font-weight: 500;
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-touched {
  border: 1px solid #ff4d4d;
}


.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}