/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 94.4%;
}

.logo {
  color: #3e8aec;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2269c5;
}