<header>
  <nav class="navbar">
    <h1 class="logo">StreetGarage</h1>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/feed" routerLinkActive="active-link">Explore</a>
      <a routerLink="/answers" routerLinkActive="active-link">Q&A</a>
  @if (!authService.currentUser()) {
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    <a routerLink="/register" routerLinkActive="active-link">Register</a>
  }
  @if (authService.currentUser()) {
    <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
    <a (click)="logout()" style="cursor: pointer;">Logout</a>
  }

    </div>
  </nav>
</header>